@font-face {

	font-family: 'Ribeye', cursive;


	font-weight: normal;
	font-style: normal;

}

body {

	background-color: rgba(99, 203, 225, 0.5);
	color: white;
	font-family: 'Ribeye', sans-serif;
	padding: 0;
	margin: 0;
	
}

a, li {
	text-decoration: none;
	color: white;
	list-style-type: none;
}

/*.menu {
	display: flex;
	width: 100%;
	height: 100px;
	flex-wrap: nowrap;
} */

.imgNd {
	height: 200px;
	width: 700px;
}

.menu {
	display: flex;
	width: 100%;
}

.conteneurOngletMenu {

	height: 40px;
	width: 700px;
	background-color: black;
	
}

.ongletMenu {
	display: flex;
	justify-content: space-around;
}

.imglogo {
	width: 150px;
	height: 150px;
}

.menu2 {
	display: flex;
	width: 100%;
}

.logo {

	margin-left: 5%;
}

.imgEtOngletMenu {

	padding-left: 12%;
}


.menuF {
	height: 90px;
	background-color: black;
}

.ulFooter {
	display: flex;
	justify-content: space-around;
	height: 70px;
	align-items: center;
}

.homeConteneur {
	height: 69vh;
}