@font-face {

	font-family: 'Ribeye', cursive;


	font-weight: normal;
	font-style: normal;

}

body {

	background-color: rgba(99, 203, 225, 0.5);
	color: white;
	font-family: 'Ribeye', sans-serif;
	padding: 0;
	margin: auto;
	width: 100%;
}



a, li {
	text-decoration: none;
	color: white;
	list-style-type: none;
}

/*.menu {
	display: flex;
	width: 100%;
	height: 100px;
	flex-wrap: nowrap;
} */

.imgNd {
	height: 200px;
	width: 695px;
}

.menu {
	display: flex;
	width: 100%;
	
}

.conteneurOngletMenu {

	display: flex;
	
} 

.ongletMenu {
	display: flex;
	justify-content: space-around;
}

.imglogo {
	width: 150px;
	height: 150px;

}



	





.menu2 {
	display: flex;
	width: 100%;
}

.logo {

	margin-left: 5%;
}

.imgEtOngletMenu {
	width: 698px;
	padding-left: 12%;
}


.menuF {
	height: 90px;
	background-color: black;
	width: 100%
}

.ulFooter {
	display: flex;
	justify-content: space-around;
	height: 70px;
	align-items: center;
	/*width: 100% */
}

.homeConteneur {
	height: 1200px;
	width: 100%;
}

.JapanVideo {
	
	
	/*height: 10px;
	width: 100%; */
}

.imageConteneur {

	width: 100%;
	margin-top: 50px;
}

.imgJaponBackground {

	width: 100%;
	height: 507px
}



.background {

}

.MentionslegalesConteneur {
	margin-top: 140px;
	height: auto;
	width: 75%;
	background-color: #92A4E4;
	border: 2px solid white;
	margin-right: 5%;
	margin-left: 8%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 21px;
}

.contactConteneur {
	margin-top: 140px;
	height: auto;
	width: 75%;
	background-color: #92A4E4;
	border: 2px solid white;
	margin-right: 5%;
	margin-left: 8%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 21px;

}

.contactColor{
	height: 400vh;
	width: 70%;
	background-color: black;
}

.AproposConteneur {
	margin-top: 140px;
	height: auto;
	width: 75%;
	background-color: #92A4E4;
	border: 2px solid white;
	margin-right: 5%;
	margin-left: 8%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 21px;
}

.buttonSignup {
	width: 140px;
	height: 45px;
	background-color: black;
	color: white;
	font-family: 'Ribeye', cursive;
	font-size: 15px;
	cursor: pointer;
} 

.buttonLogin {
	width: 140px;
	height: 45px;
	background-color: black;
	color: white;
	font-family: 'Ribeye', cursive;
	font-size: 15px;
	cursor: pointer;
} 

.buttonLogout {
	width: 140px;
	height: 45px;
	background-color: black;
	color: white;
	font-family: 'Ribeye', cursive;
	font-size: 15px;
	cursor: pointer;
}

/*button {

	width: 140px;
	height: 45px;
	background-color: black;
	color: white;
	font-family: 'Ribeye', cursive;
	font-size: 15px;
} */

.SocieteHandleClick {
	display: flex;
	border: none;
	align-items: center;
}

.bouttonSociete {
	width: 232px;
	height: 45px;
	background-color: black;
	color: white;
	font-family: 'Ribeye', cursive;
	font-size: 15px;
	cursor: pointer;
}

.bouttonCulturePop {
	width: 232px;
	height: 45px;
	background-color: black;
	color: white;
	font-family: 'Ribeye', cursive;
	font-size: 15px;
	cursor: pointer;
}

.bouttonQuizz {
	width: 232px;
	height: 45px;
	background-color: black;
	color: white;
	font-family: 'Ribeye', cursive;
	font-size: 15px;
	cursor: pointer;
}

.bouttonEtSonMenu {

	width: 232px;
	height: 148px;
}


.societe {
	width: 232px;
	background-color: black;
	height: 103px;
	/*position: absolute;*/
	top: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.culturePop {
	width: 232px;
	background-color: black;
	height: 103px;
	/*position: absolute;*/
	top: 250px;
	/*margin-left: 232px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quizz {
	width: 232px;
	background-color: black;
	height: 103px;
	/*position: absolute;*/
	top: 250px;
	/*margin-left: 464px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.conteneurSystemeSco {
	margin-top: 140px;
	height: auto;
	width: 75%;
	background-color: #92A4E4;
	border: 2px solid white;
	margin-right: 5%;
	margin-left: 8%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 21px;
	min-height: 700px;
}

.conteneurMondePro {
	margin-top: 140px;
	height: auto;
	width: 75%;
	background-color: #92A4E4;
	border: 2px solid white;
	margin-right: 5%;
	margin-left: 8%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 18px;
} 

.anecdoteTFrend {
	display: flex;
	margin-top: 93px;
}

.anecdoteCoto {
	display: flex;
	margin-top: 93px;
	font-size: 21px;
}

.conteneurTechnologie {
	margin-top: 140px;
	height: auto;
	width: 75%;
	background-color: #92A4E4;
	border: 2px solid white;
	margin-right: 5%;
	margin-left: 8%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 21px;
}

.anecdoteAibo {
	display: flex;
	margin-top: 93px;
	font-size: 21px;
}

.videoAibo {
	width: 1000px;
	height: 290px;
}

.conteneurGastronomie {
	margin-top: 140px;
	height: auto;
	width: 75%;
	background-color: #92A4E4;
	border: 2px solid white;
	margin-right: 5%;
	margin-left: 8%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 21px;
}


.anecdoteFugu {
	display: flex;
	margin-top: 93px;
}

.contourForm {
	background-color: #92A4E4;
	width: 140px;
	height: 113px;
	border-radius: 2px;
}

/*@media screen and (min-width: 304px) and (max-width: 1280px)
{
    .imgEtOngletMenu
    {
        margin-right: 13%;
    }
} */


.champsForm {

	width: 120px;
	height: 23px;
	border-radius: 4px;
	margin-left: 4%;
	font-family: 'Ribeye', sans-serif;
}


.buttonConteneur {
	margin-bottom: 13px;
	margin-left: 5%;
}

.buttonConteneur2 {
	margin-left: 5%;
}

.envoyer {

	background-color: black;
	color: white;
	font-weight: bold;
	font-family: 'Ribeye', sans-serif;
	cursor: pointer;
}

.cercleVert {
	height: 10px;
	width: 10px;
	background-color: #19EA25;
	border-radius: 50%;
	margin-right: 1vh;
	margin-top: 1vh;

}


.cercleRouge {
	height: 10px;
	width: 10px;
	background-color: #ff0000;
	border-radius: 50%;
	margin-right: 1vh;
	margin-top: 1vh;
}

.title {
	height: 40px;
	width: 14%;
}

.contenu {
	height: 500px;
	width: 30%;
}

.msg {

	width: 350px;
	height: 115px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px;	
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 322px;
	left: 233px;
}

.msgP{
	width: 80%;
}


.msgSuccess {
	width: 350px;
	height: 115px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 15px;	
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 322px;
	left: 233px;
	color: rgba(98, 220, 17);
}

.msgPSuccess {
	width: 80%;
}


.wrongIdorPassword {
	width: 350px;
	height: 115px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 15px;	
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 322px;
	left: 233px;
	color: red;
}

.wrongIdorPasswordP {
	width: 80%;
}

.wrongCross {
	width: 30px;
	height: 30px;
}

.conteneurBack {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.conteneurQuizzSystemeSco {
	width: 100%;
	height: auto;
	min-height: 700px;

}

.question {
	margin-top: 140px;
	width: 100%;
	height: 375px;
	background-color: #92A4E4;
}

.buttonBack {
	margin-top: 100px;
	height: 90px;
	width: 230px;
	background-color: purple;
	cursor: pointer;
	font-size: 17px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.PutForm {
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: column;
}

/*.inputTitleArticleBack {

	width: 300px;
	height: 70px;
}*/

.eraseButton {

	width: 100px;
	height: 55px;
	background-color: red;
	color: white;
	font-size: 18px;
	border-radius: 15px;
	cursor: pointer;
}

.ButtonRetourBaback {
	margin-bottom: 30px;
	height: 90px;
	width: 230px;
	background-color: blue;
	cursor: pointer;
	font-size: 17px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	border-color: white;
}


.baback {
	display: flex;
	flex-direction: column;
	align-items: center;
}



@media all and (max-width: 399px) {
				.imgNd {
				width: 303px;
				height: auto;
			}

			.conteneurOngletMenu {
				width: 345px;
				height: auto;
			}

			.imglogo {
				width: 110px;
				height: 110px;

			}

			.menu2 {
				flex-direction: column;
				align-items: center;
				/*width: auto;
				height: auto;*/
			}

			.logo {
				margin-bottom: 10px;
				margin-top: 10px;
			}	

			.imgEtOngletMenu {
			width: 303px;
			padding-left: 0%;
			height: auto;
		}

		.bouttonEtSonMenu {
			width: 101px;
			height: 46px;
		}

		
		.bouttonSociete {
			width: 101px;
			height: 46px;
		}	

		.societe {
			width: 101px;
			height: auto;
		}

		.bouttonCulturePop {
			width: 101px;
			height: 46px;
		}

		.culturePop {
			width: 101px;
			height: auto;
		}


		.bouttonQuizz {
			width: 101px;
			height: 46px;
		}

		.quizz {
			width: 101px;
			height: auto;
		}


		.buttonSignup {
			width: 101px;
			height: 46px;
		}

		.buttonLogin{
			width: 101px;
			height: 46px;
		} 


		.contourForm {
			width: 91px;
			height: auto;
		}

		.champsForm {
			width: 75px;
			height: auto;
		}

		.envoyer {
			width: 75px;
			height: auto;
		}

		.buttonConteneur {
			width: 120px;
			height: auto;
		}

		.imgJaponBackground {

			display: none;
		}

		.imgJaponBackgroundResponsive {

			width: 100%;
			height: auto;
		}

		h3 {

			margin-top: 134px;
		}

		.homeConteneur {
			height: 885px;
		}

		.ulFooter {
			margin: 0;
			padding: 0;
		}

	}

	@media all and (min-width: 400px) and (max-width: 799px) {
		

		.imgNd {
				width: 510px;
				height: auto;
			}

			.imglogo {
				width: 120px;
				height: 120px;

			}

			.conteneurOngletMenu {
				width: 510px;
				height: auto;
			}

			.menu2 {
				flex-direction: column;
				align-items: center;
				/*padding-left: 4%;*/
			}

			.logo {
				margin-bottom: 20px;
				margin-top: 20px;
				margin-left: 0;
			}	

			.imgEtOngletMenu {
			width: 510px;
			padding-left: 0%;
			height: auto;
		}

		.bouttonEtSonMenu {
			width: 170px;
			height: 35px;
		}

		.bouttonSociete {
			width: 170px;
			height: 35px;
		}

		.societe {
			width: 170px;
			height: 90px;
		}

		.bouttonCulturePop {
			width: 170px;
			height: 35px;

		}

		.culturePop {
			width: 170px;
			height: 90px;
		}


		.bouttonQuizz {
			width: 170px;
			height: 35px;

		}

		.quizz {
			width: 170px;
			height: 90px;
		}

		h3 {
			margin-top: 95px;
		}

		.imgJaponBackgroundResponsive {

			display: none;
		}

		.ulFooter {
			margin: 0;
			padding: 0;
		}

	} 

	@media all and (min-width: 800px) and (max-width: 1280px) {
		

		.imgNd {
				width: 750px;
				height: auto;
			}

			.imglogo {
				width: 120px;
				height: 120px;

			}

			.conteneurOngletMenu {
				width: 697px;
				height: auto;
			}

			.menu2 {
				flex-direction: column;
				align-items: center;
			}

			.logo {
				margin-bottom: 20px;
				margin-top: 20px;
			}	

			.imgEtOngletMenu {
			width: 750px;
			padding-left: 0%;
			height: auto;
		}

		.bouttonEtSonMenu {
			width: 250px;
			height: auto;
		}

		.bouttonSociete {
			width: 250px;
			height: auto;
		}

		.societe {
			width: 250px;
			height: auto;
		}

		.bouttonCulturePop {
			width: 250px;
			height: auto;

		}

		.culturePop {
			width: 250px;
			height: auto;
		}


		.bouttonQuizz {
			width: 250px;
			height: auto;

		}

		.quizz {
			width: 250px;
			height: auto;
		}

		.imgJaponBackgroundResponsive {

			display: none;
		}

		.ulFooter {
			margin: 0;
			padding: 0;
		}

	} 



	@media all and (min-width: 1281px) {

		.imgJaponBackgroundResponsive {

			display: none;
		}

	}	